{% extends '../index_master.html' %}
{% block content %}
<div class="right_col" role="main">
    <h1>Dashboard</h1>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5 class="text-center">Estadísticas del Sistema</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card bg-primary text-white text-center">
                            <div class="card-body">
                                <h4 class="card-title">Clientes Registrados</h4>
                                <p class="card-text">{{ cantidad_clientes }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card bg-success text-white text-center">
                            <div class="card-body">
                                <h4 class="card-title">Tipos de Equipos</h4>
                                <p class="card-text">{{ cantidad_tipos_equipos }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card bg-warning text-white text-center">
                            <div class="card-body">
                                <h4 class="card-title">Órdenes Iniciadas</h4>
                                <p class="card-text">{{ cantidad_iniciado }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card bg-danger text-white text-center">
                            <div class="card-body">
                                <h4 class="card-title">Órdenes Finalizadas</h4>
                                <p class="card-text">{{ cantidad_finalizado }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
